<a href="https://colab.research.google.com/github/HfzhImn/2025_PBO-TI-1B/blob/main/Jobsheet%2001%20PBO%202025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jobsheet 01: Dasar Pemrograman Web

##Praktikum 01
###Tipe data dasar
Pada praktikum ini, mahasiswa akan mempelajari tipe-tipe data dasar yang digunakan dalam
pemrograman Python, mulai dari integer, float, dan complex untuk nilai numerik, hingga
boolean, string, list, tuple, dictionary, serta set yang memiliki karakteristik serta fungsi
tersendiri. Mahasiswa juga akan mempraktikkan cara melakukan konversi tipe data (misalnya
dari string ke integer), sehingga dapat lebih memahami bagaimana Python secara dinamis
menangani berbagai format data. Pemahaman terhadap tipe data dasar ini menjadi landasan
penting dalam mengembangkan logika program yang efisien dan terstruktur, sekaligus
mempersiapkan mahasiswa untuk mengimplementasikan konsep pemrograman berorientasi
objek di tahap lanjutan.

In [7]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

angka_int = 10 -> <class 'int'>

In [8]:
# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

angka_float = 3.14 -> <class 'float'>

In [9]:
# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

angka_complex = (2+3j) -> <class 'complex'>

In [10]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

is_active = True -> <class 'bool'>

In [11]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

teks = Hello, Python! -> <class 'str'>

In [12]:
# 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>

In [13]:
# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

koordinat = (10, 20) -> <class 'tuple'>

In [14]:
# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
    "nama": "Andi",
    "nim": "A11.2022.12345",
    "jurusan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>

In [15]:
# 7. Set
# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

himpunan_angka = {1, 2, 3} -> <class 'set'>

In [16]:
# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

##Praktikum 02
###Variabel dan Operasi dasar
Pada praktikum ini, mahasiswa akan mempelajari cara mendeklarasikan variabel tanpa harus
menentukan tipe data secara eksplisit di Python. Beragam operasi dasar—seperti aritmetika
(penjumlahan, pengurangan, perkalian, pembagian), perbandingan (==, !=, >, <, >=, <=), dan
logika (and, or, not)—akan diterapkan untuk memanipulasi nilai yang disimpan dalam variabel.
Dengan mempraktikkan berbagai operasi tersebut, mahasiswa dapat memahami bagaimana
Python menangani ekspresi matematika dan logika untuk membentuk fondasi pengembangan
aplikasi yang lebih kompleks.

##Praktikum 04

##Praktikum 03